@{
    ViewBag.Title = "Event";
}
<div class="container col-md-12 orgtitle"><h2>Pick An Organization</h2></div>
<div class="container col-md-6 orgcard">
    <div class="orgcardimg UFCCard"></div>  
</div>
<div class="container col-md-6 orgcard">
    <div class="orgcardimg WWECard"></div>
</div>

